#form{
    height: 5cm;
    width: 50%;
    
    border: 1px solid  hsl(329, 70%, 58%);
    padding: 10px;
    border-radius: 50px 50px;
    background-color: hsl(228, 28%, 20%);
    margin-top: 15%;
    margin-left: 25%;
}

label {
    margin-top: 10px;
    
}

.center{
    width: 77.44px;
    margin-left: 35%;
}

.center2{
    margin-left: 2%;
}
.center3{
    border: 1px solid hsl(228, 28%, 20%);
    border-radius: 50px 50px;
    margin-top: 10px;
    margin-left: 50%;
}

form{
    color: white;
}


