div{
    
    position: relative;
    top: 2cm;
    left: 5%;
    color: white;

 /* font-family: "Brush Script MT", cursive; font-size: 49px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 107.8px;  */
 
font-family: Papyrus, fantasy; font-size: 49px; font-style: italic; font-variant: small-caps; font-weight: 700; line-height: 49px; 

}